/* Global styles */
html {
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  color: #333;
}

/* Header styles */
h4 {
  text-align: center;
  /* Center the header */
  font-size: 2em;
  /* Increase font size for visibility */
  margin-bottom: 30px;
  /* Space below the header */
}